<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <title>File browser</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <style>
    ul {
      list-style: none;
      margin: 0;
    }
    #folders li:before {
      content: "📂";
      padding-right: 8px;
    }
    #dcimg li:before {
      content: "🖼";
      padding-right: 8px;
    }
    #bin li:before {
      content: "🖼";
      padding-right: 8px;
    }
    a {
      color: #111;
      text-decoration: none;
    }
  </style>
</head>

<body>
<h1>File explorer</h1>

<div id=app>
<hr/>
<a href="" v-for="p in breadcrumb" v-on:click="setFolder(p[1])">/{{p[0]}}</a>
<hr/>
<ul id="folders">
  <li v-for="f in dirs"> <a href="" v-on:click="enterFolder(f)">{{ f }}</a> </li>
</ul>
<ul id="files">
  <li v-for="f in files"> {{ f }} </li>
</ul>
<ul id="dcimg">
  <li v-for="f in dcimg"> <a href="" v-on:click="viewdcimg(f)">{{ f }}</a> </li>
</ul>
<ul id="bin">
  <li v-for="f in bin"> <a href="" v-on:click="viewbin(f)">{{ f }}</a> </li>
</ul>
</div>

<script>

var url = new URLSearchParams(location.search);
var path = url.get('path')
if(path == null) {
  path = "/"
}

var app = new Vue({
  el: '#app',
  data: {
    host: new URL(location).hostname,
    path: path,
    dirs: [],
    files: [],
    hidden: [],
    dcimg: [],
    bin: [],
  },
  computed: {
    app_addr: () => "http://" + app.host + ":9997",
    api_addr: () => "http://" + app.host + ":9998",
    breadcrumb: function () {
      s = path.split("/");
      b = [];
      for(i=1; i<s.length-1; i++) {
        b.push([s[i], s.slice(0,i+1).join("/")]); // a list of pair part / cumulative
      }
      return b
    }
  },
  methods: {
    enterFolder: function (folder) {
      if(folder) {this.path += folder + "/"}
      history.pushState(String(app.path), "title", "?path=" + app.path)
      this.getFolder()
    },
    setFolder: function (folder) {
      app.path = folder + "/";
      history.pushState(String(app.path), "title", "?path=" + app.path)
      this.getFolder()
    },
    getFolder: function () {
      fetch(this.api_addr + "/browse/?path=" + this.path)
      .then(r => r.json())
      .then(function(r) {
        app.dirs = r.dirs
        app.files = r.files
        app.hidden = r.hidden
        app.dcimg = r.dcimg
        app.bin = r.bin
      })
    },
    viewdcimg: function (file) {
      url = this.app_addr + "/dcimg/?path=" + this.path + file
      open(url)
    },
    viewbin: function (file) {
      url = this.app_addr + "/stack/?path=" + this.path + file
      open(url)
    },
  },
})

app.getFolder()

window.onpopstate = function(event) {app.path = event.state; app.getFolder()}

</script>

</body>
</html>
