<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Stack viewer</title>

  <style>

  #control {
    float: left;
    width: 20em;
  }
  #app {
    float: left;
    margin-right: 10px;
  }
  svg {
    box-shadow: 2px 2px 2px 2px gray, -1px -1px gray;
  }
  input[type='range'] {
  background-color: rgba(1,1,1,0)
  }
  input[type='range']::-moz-range-track{
    -moz-appearance: none;
    border-radius: 5px;
    box-shadow: inset 1px 1px 1px rgba(000,000,000,0.10);
    background-color: #CCC;
    height: 8px;
    vertical-align:middle;
    margin:0; padding:0;
    border: none;
    cursor: pointer;
  }
  input[type='range']::-moz-range-thumb {
    -moz-appearance: none ;
    border-radius: 100%;
    background-color: #FFF;
    box-shadow: inset 0 0 0 4px #CCC, inset 0 0 4px #CCC, inset 0 0 0 4px #CCC;
    height: 22px;
    width: 22px;
    vertical-align:middle;
    border: none;
    cursor: pointer;
    margin-top: -6px;
  }
  </style>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <!-- <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="/plotd3.js"></script> -->

  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script src="/plotchart.js"></script>
</head>

<body>
<h1>WebSocket stack viewer</h1>

<div id="app">
Path: <input type="text" v-model="path" v-on:keyup.enter="openSocket" style="width:40em"/>
  <div>
    <div id="control">
    Layer: <input type="range" v-model="layer" min="1" v-bind:max="maxlayer"
    v-on:input="requestFrameAtMaxRate" v-on:change="askFrame"/>{{layer}} <br>
    Time: <input type="range" v-model="time" min="1" v-bind:max="maxtime"
    v-on:input="requestFrameAtMaxRate" v-on:change="askFrame"/>{{time}} <br>
    Min: <input type="number" v-model="min" min="0" max="1000"
    v-on:keyup.enter="askFrame"/> <br>
    Max: <input type="number" v-model="max" min="400" max="4000"
    v-on:keyup.enter="askFrame"/> <br>
    <button v-on:click="toggleplay">{{playpause}}</button> <br>
    </div>
  <img v-bind:src="imgSrc" id="render" alt="image not available" width="400px"
  v-on:click="addMarker($event)"/>
  </div>
</div>

<canvas id="chart"></canvas>

<script>
var DEBUG
var date = new Date() // new date object
var timer = date.getTime() // limits number of events per second
var maxRefreshTime = 30 // ms
var play // play/pause

var url = new URLSearchParams(location.search);
var path = url.get('path')

var askFrame = function () {
  app.socket.send(JSON.stringify({request: "frame",
    z: app.layer, t: app.time, min: app.min, max: app.max}));
}

var askSlice = function (point) {
  app.socket.send(JSON.stringify({request: "slice",
    x: point.x, y: point.y, z: app.layer}));
}

// only send gui if rate is not too high
var requestFrameAtMaxRate = function() {
  var cdate = new Date()
  var ctime = cdate.getTime()
  if(ctime - timer > maxRefreshTime) {
    askFrame()
    timer = ctime
  }
}

function nextframe() {
  t = Number(app.time)
  if(t<app.maxtime) {
    app.time = String(t+1)
    requestFrameAtMaxRate()
  }
  else {
    app.time = String(1)
    // clearInterval(play)
    // app.playpause = "play"
  }
}

function getClickPosition (e) {
    // function to get the click position
    var x = e.offsetX;
    var y = e.offsetY;
    imgwidth = 400; // TODO extract this
    x = Math.round(x/imgwidth*app.x);
    y = Math.round(y/imgwidth*app.x);
    point = {x:x,y:y};
    console.log(point);
    return point;
}

var app = new Vue({
  el: '#app',
  data: {
    host: new URL(location).hostname,
    path: path,
    layer: "1",
    maxlayer: 20,
    time: "1",
    maxtime: 3000,
    min: "400",
    max: "700",
    imgSrc: "#",
    plot: undefined,
    values: undefined,
    playpause: "play",
    socket: undefined,
  },
  computed: {
    ws_addr: () => "ws://" + app.host + ":9999",
    api_addr: () => "http://" + app.host + ":9998",
  },
  methods: {
    requestFrameAtMaxRate: requestFrameAtMaxRate,
    askFrame: askFrame,
    askSlice: askSlice,
    toggleplay: function () {
      if(this.playpause == "play") {
        play = setInterval(nextframe, 10)
        this.playpause = "pause"
      }
      else {
        clearInterval(play)
        this.playpause = "play"
      }
    },
    openSocket: function () {
      // start by getting interface values and clearing previous image
      URL.revokeObjectURL(this.imgSrc)
      fetch(this.api_addr + "/stack/?path=" + this.path)
      .then(r => r.json())
      .then(function(r) {app.maxlayer = r.z; app.maxtime = r.t;
        app.layer = "1"; app.time = "1";
        app.x = r.x; app.y = app.y;})

      // set websocket
      this.socket =  new WebSocket(this.ws_addr + "/stack/?path=" + this.path, "protocol");
      this.socket.binaryType = 'arraybuffer'
      this.socket.onopen = this.askFrame
      this.socket.onmessage = function (event) {
        // console.log(".");
        URL.revokeObjectURL(app.imgSrc) // revoke last image with is no more useful

        arrayBuffer = event.data // get the blob

        var dataView = new DataView(arrayBuffer);
        var blob = new Blob([dataView]);

        magick = new Uint8Array(arrayBuffer.slice(0,1))
        magick = magick[0]

        // DEBUG = magick
        // console.log(DEBUG);

        content = blob.slice(1,blob.size)

        switch (magick) {
          case 'i'.charCodeAt(): // in case of image
            // console.log("received image");
            app.imgSrc = URL.createObjectURL( content ) // create a new link to this blob
            break;
          case 's'.charCodeAt(): // in case of slice
            // console.log("received slice");
            app.values = new Uint32Array(arrayBuffer.slice(1,arrayBuffer.size))

            // display values
            var points = []
            for(i=0;i<app.values.length;i++) {
              points.push({x:i, y:app.values[i]})
            }
            plotchart(points)

            break;
          default:
        }
      }
    },
    addMarker: function (e) {
      p = getClickPosition(e)
      askSlice(p)
    }
  },
})

app.openSocket(); // initialize connection


// frame = document.getElementById("render");
// frame.addEventListener("click", getClickPosition);


</script>

</body>
</html>
