<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Dcimg viewer</title>

  <style>

  #control {
    float: left;
    width: 20em;
  }
  input[type='range'] {
  background-color: rgba(1,1,1,0)
  }
  input[type='range']::-moz-range-track{
    -moz-appearance: none;
    border-radius: 5px;
    box-shadow: inset 1px 1px 1px rgba(000,000,000,0.10);
    background-color: #CCC;
    height: 8px;
    vertical-align:middle;
    margin:0; padding:0;
    border: none;
    cursor: pointer;
  }
  input[type='range']::-moz-range-thumb {
    -moz-appearance: none ;
    border-radius: 100%;
    background-color: #FFF;
    box-shadow: inset 0 0 0 4px #CCC, inset 0 0 4px #CCC, inset 0 0 0 4px #CCC;
    height: 22px;
    width: 22px;
    vertical-align:middle;
    border: none;
    cursor: pointer;
    margin-top: -6px;
  }
  </style>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
<h1>WebSocket dcimg viewer</h1>

<div id="app">
Path: <input type="text" v-model="path" v-on:keyup.enter="openSocket" style="width:40em"/>
  <div>
    <div id="control">
    Layer: <input type="range" v-model="layer" min="1" v-bind:max="maxlayer"
    v-on:input="sendGuiAtMaxRate" v-on:change="sendGui"/>{{layer}} <br>
    Time: <input type="range" v-model="time" min="1" v-bind:max="maxtime"
    v-on:input="sendGuiAtMaxRate" v-on:change="sendGui"/>{{time}} <br>
    Min: <input type="number" v-model="min" min="0" max="1000"
    v-on:keyup.enter="sendGui"/> <br>
    Max: <input type="number" v-model="max" min="400" max="4000"
    v-on:keyup.enter="sendGui"/> <br>
    <button v-on:click="toggleplay">{{playpause}}</button> <br>
    </div>
  <img v-bind:src="imgSrc" id="render" alt="image not available" width="400px"/>
  </div>
</div>

<script>
var date = new Date() // new date object
var timer = date.getTime() // limits number of events per second
var maxRefreshTime = 30 // ms
var play // play/pause

var url = new URLSearchParams(location.search);
var path = url.get('path')

var sendGui = function (event) {
  app.socket.send(JSON.stringify({z: app.layer, t: app.time, min: app.min, max: app.max}));
}

// only send gui if rate is not too high
var sendGuiAtMaxRate = function() {
  var cdate = new Date()
  var ctime = cdate.getTime()
  if(ctime - timer > maxRefreshTime) {
    sendGui()
    timer = ctime
  }
}

function nextframe() {
  t = Number(app.time)
  if(t<app.maxtime) {
    app.time = String(t+1)
    sendGuiAtMaxRate()
  }
  else {
    app.time = String(1)
    // clearInterval(play)
    // app.playpause = "play"
  }
}

var app = new Vue({
  el: '#app',
  data: {
    host: new URL(location).hostname,
    path: path,
    layer: "1",
    maxlayer: 20,
    time: "1",
    maxtime: 3000,
    min: "400",
    max: "700",
    imgSrc: "#",
    playpause: "play",
    socket: undefined,
  },
  computed: {
    ws_addr: () => "ws://" + app.host + ":9999",
    api_addr: () => "http://" + app.host + ":9998",
  },
  methods: {
    sendGuiAtMaxRate: sendGuiAtMaxRate,
    sendGui: sendGui,
    toggleplay: function () {
      if(this.playpause == "play") {
        play = setInterval(nextframe, 10)
        this.playpause = "pause"
      }
      else {
        clearInterval(play)
        this.playpause = "play"
      }
    },
    openSocket: function () {
      // start by getting interface values and clearing previous image
      URL.revokeObjectURL(this.imgSrc)
      fetch(this.api_addr + "/dcimg/?path=" + this.path)
      .then(r => r.json())
      .then(function(r) {app.maxlayer = r.z; app.maxtime = r.t;
        app.layer = "1"; app.time = "1";})

      // set websocket
      this.socket =  new WebSocket(this.ws_addr + "/dcimg/?path=" + this.path, "protocol");
      this.socket.binaryType = 'blob'
      this.socket.onopen = this.sendGui
      this.socket.onmessage = function (event) {
        console.log(".");
        URL.revokeObjectURL(app.imgSrc) // revoke last image with is no more useful
        blob = event.data // get the blob
        app.imgSrc = URL.createObjectURL( blob ) // create a new link to this blob
      }
    }
  },
})

app.openSocket(); // initialize connection

</script>

</body>
</html>
